@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.no-grow {
	flex-grow: 0;
}

em {
	font-style: normal;
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.chat-window {
	position: absolute;
	top: 5vh;
	left: 3vh;
	width: 50vh;
	height: 23.5vh;
}

.chat-input {
	position: absolute;
	top: 28.5vh;
	left: 3vh;
	width: 50vh;
	box-sizing: border-box;
}


@media (width: 800px) and (height: 800px), (width: 1280px) and (height: 1024px) {
	.chat-window {
		position: absolute;
		top: 5vh;
		left: 3vh;
		width: 35vh;
		height: 20vh;
	}

	.chat-input {
		position: absolute;
		top: 25vh;
		left: 3vh;
		width: 35vh;
		box-sizing: border-box;
	}
}

.chat-messages {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

textarea {
	margin-top: 1vh;
	background: rgba(0, 0, 0, 0.2);
	padding: 0vh 0vh 0vh 2vh;
	height: 2.2vh;
	line-height: 2.2vh;
	font-size: 1.3vh;
	font-weight: 400;
	display: block;
	box-sizing: border-box;
	color: white;
	width: 100%;
	border-radius: 2px;
	border: 0;
	overflow: hidden;
	resize: none;
}

textarea:focus, input:focus {
	outline: none;
}

.prefix {
	color: #FFFFFF;
	font-size: 1.5vh;
	position: absolute;
	line-height: 2.2vh;
	padding: .1vh 0vh 0vh .7vh;
	font-weight: 900;
}

.msg {
	background: rgba(0, 0, 0, 0.0);
	border-radius: .4vh;
	line-height: 2.3vh;
	color: white;
	font-size: 1.3vh;
	font-weight: 400;
	word-break: normal;
	margin: .5vh 0;
}

b {
	font-weight: 600;
	letter-spacing: .03vh;
	margin-left: .6vh;
}

.multiline {
	white-space: pre-line;
}

.hidden {
	display: none;
}