txData/
db/
bot/
cache/
addons/
clothes/
node_modules/
clothes/
clothes.rar
barbershop/
qb-radialmenu-main/
WEAPON_KARAMBIT/
BattleRoyaleDia10demaio.rar
BattleRoyale.rar
anticheat/
artifacts/
menuv/
nad_rockstar-main/
rpemotes-master/
.DS_Store
.rar 
.zip 
.7z